html, body{
    width: 100%;
    height: 100%;
}
    .container {
        min-height: 100vh;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .menu {
        width: 100%;
        background-color: burlywood;
        margin-bottom: 20px;
    }
    .header-logo {
    right: 20px;
}

.header-logo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.header-logo a span:first-child {
    color: orangered;
    font-weight: 700;
    font-size: 24px;
}

.header-logo a span:last-child {
    color: #000;
    font-size: 14px;
    font-style: italic;
}
    .up {
        height: 70px;
        margin: 0 auto;
    }
    
    .up ul {
        list-style: none;
        margin-top: 0px;
    }
    
    .up>ul>li {
        display: inline-block;
        padding: 10px;
        padding-left: 0px;
        position: absolute;
    }
    
    .up ul li:hover {
        background-color: rgba(red, green, blue, alpha);
        border-radius: 15px;
    }
    
    .up ul li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: black;
        padding-right: 10px;
    }
    
    .up ul li a img {
        vertical-align: middle;
    }
    
    .logo2 a img {
        padding-right: 100px;
    }
    
    .down {
        height: 50px;
        width: 80%;
        margin: 0 auto;
    }
    
    .search {
        height: 38px;
        width: 550px;
        background-color: white;
        margin-left: 200px;
        border-radius: 15px
    }
    
    .search input {
        width: 485px;
        height: 35px;
        border: 0px;
        padding-left: 10px;
        border-radius: 15px
    }
    .search input:focus, button:focus {
        outline: unset !important;
    }
    .search button {
        height: 30px;
        border: 0px;
        background-color: transparent;
        cursor: pointer;
    }
    
    .search button img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        border-radius: 5px;
    }
    
    .content {
        width: 1000px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
    
    div.slidershow {
        background: green;
        width: 100%;
        height: 300px;
    }
        .up ul li {
            position: relative;
        }  
    .submenu { 
        position: absolute;
        background-color: #ddd;
        width: 300px;
        height: auto;
        left: 0;
    top: 100%;
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 10;
}

.submenu ul {
    display: flex;
    flex-direction: column;
}

.submenu ul li {
    padding: 6px 0;
}

.up ul li:hover .submenu {
    display: block;
}

.submenu ul li:hover a {
    color: red;
}

.submenu ul li:hover {
    background: none;
}


/* -------------slider------------ */

.slider {
    background: lightgray;
    margin: 0 auto;
}


/* ---------------- sản phẩm tiêu biểu----------------- */

.slider-product-one {
    padding: 15px 0;
}

.slider-product-one-content {
    padding: 12px;
    background-color: pink;
}

.slider-product-one-content h2 {
    color: red;
    font-size: 50px;
    text-align: center;
}

.slider-product-one-content-items {
    display: flex;
    justify-content: space-evenly;
}

.slider-product-one-content-item {
    width: 16%;
    background-color: white;
    padding: 50px 12px 12px;
    border-radius: 5px;
}

.slider-product-one-content-item img {
    width: 100%;
    transition: all 0.5s ease;
}

.slider-product-one-content-item-text {
    padding-top: 20px;
    list-style: none;
}
.slider-product-one-content-item-text button {
    background-color: rgb(241, 50, 50);
}

.slider-product-one-content-item-text button:hover {
    background-color: orange;
    color: white;
}

.slider-product-one-content-item-text li {
    margin-bottom: 6px;
    font-size: 20px;
}

.slider-product-one-content-item-text li:first-child {
    color: black;
    font-size: 30px;
}

.slider-product-one-content-item-text li:nth-child(3) {
    color: red;
}

.slider-product-one-content-item-text li:last-child {
    color: red;
}

.slider-product-one-content-item:hover img {
    transform: translateY(-20px);
}


/* ---------------footer-------------- */

.gird_row {
    float: left;
    text-decoration: none;
    vertical-align: middle;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 30px 0 0 0;
}

.footer-item_link {
    color: white;
}
.footer-col {
    padding-left:15px;
}
.footer_heading {
    font-size: 1.2em !important;
    color: orange;
}
.footer-list {
    padding: 10px;
}

.footer-col ul li img {
    width: 400px;
    height: 400px
}
