.slider {
    margin: 10px 0;
    padding: auto;
    display: flex;
}

.slide {
    width: 100%;
    padding: 0 10px;
}

.slider-right {
    padding-right: 40px;
}

.slider-right img {
    width: 95%;
}

.bottom {
    height: 500px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
