.category-image-container {
    height: 200px;
    width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.category-image-container .product-link {
    width: 100%;
}

.category-image {
    width: 100%;
    transition: width 1s;
}
.category-image:hover {
    width: 120%;
}
#sortBy {
    width: 150px;
}
.products {
    display: flex;
    flex-wrap: wrap;
}

.container {
    min-height: 100vh;
}

.products .product-container {
    width: 23%;
    background-color: white;
    padding: 50px 12px 12px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-detail {
    height: 150px;
}
.products .product-container img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
.products .product-container img:hover {
    transform: translateY(-20px);
}


.paging-container {
    padding: 30px;
}