.payment-content-left-method-payment-item-img img {
    width: 100px;
    height: 50px;
}

.payment {
    padding: 100px 0;
}

.payment-to-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-top {
    height: 2px;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}

.payment-top-item i {
    color: #dddddd;
}

.payment-top-payment {
    border: 1px solid #0d87ea;
}

.payment-top-payment i {
    color: #0d87ea;
}

.payment-content-left {
    width: 60%;
}

.payment-content-right {
    width: 40%;
    border-left: 2px solid #dddddd;
    padding-left: 40px;
}

.payment-content-left p,
label {
    font-size: 15px;
    font-family: var(--mai-text-font);
}

.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: dashed 1px #dddddd;
}

.payment-content-right-button-input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}

.payment-content-right-mnv {
    margin-top: 5%;
}

.payment-content-right-mnv select {
    width: 400px;
    height: 30px;
    color: #75758a;
    padding-left: 12px;
}

.payment-content-right-payment {
    margin-top: 50px;
    text-align: center;
    text-align: center;
}

.payment-content-right-button button {
    height: 35px;
    padding: 0 40px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: all;
    border: 12px solid black;
}

.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}